# Deliverable 2

- Deliverable 2 will be a NER (Named entity recognition system).

## Overview of the data

url = https://www.kaggle.com/abhinavwalia95/entity-annotated-corpus


Essential info about entities:

```
geo = Geographical Entity
org = Organization
per = Person
gpe = Geopolitical Entity
tim = Time indicator
art = Artifact
eve = Event
nat = Natural Phenomenon
```

In [1]:
import pandas as pd
import numpy as np
%matplotlib inline

import matplotlib
import numpy as np
import matplotlib.pyplot as plt
from tqdm.notebook import tqdm

The data is located in the 'data' folder

In [2]:
data = pd.read_csv("data/ner_dataset.csv", encoding="latin1")

In [3]:
data.head(70)

     Sentence #           Word  POS    Tag
0   Sentence: 1      Thousands  NNS      O
1           NaN             of   IN      O
2           NaN  demonstrators  NNS      O
3           NaN           have  VBP      O
4           NaN        marched  VBN      O
5           NaN        through   IN      O
6           NaN         London  NNP  B-geo
7           NaN             to   TO      O
8           NaN        protest   VB      O
9           NaN            the   DT      O
10          NaN            war   NN      O
11          NaN             in   IN      O
12          NaN           Iraq  NNP  B-geo
13          NaN            and   CC      O
14          NaN         demand   VB      O
15          NaN            the   DT      O
16          NaN     withdrawal   NN      O
17          NaN             of   IN      O
18          NaN        British   JJ  B-gpe
19          NaN         troops  NNS      O
20          NaN           from   IN      O
21          NaN           that   DT      O
22          NaN        country   NN      O
23          NaN              .    .      O
24  Sentence: 2       Families  NNS      O
25          NaN             of   IN      O
26          NaN       soldiers  NNS      O
27          NaN         killed  VBN      O
28          NaN             in   IN      O
29          NaN            the   DT      O
..          ...            ...  ...    ...
40          NaN             as   IN      O
41          NaN              "   ``      O
42          NaN           Bush  NNP  B-per
43          NaN         Number   NN      O
44          NaN            One   CD      O
45          NaN      Terrorist   NN      O
46          NaN              "   ``      O
47          NaN            and   CC      O
48          NaN              "   ``      O
49          NaN           Stop   VB      O
50          NaN            the   DT      O
51          NaN       Bombings  NNS      O
52          NaN              .    .      O
53          NaN              "   ``      O
54  Sentence: 3           They  PRP      O
55          NaN        marched  VBD      O
56          NaN           from   IN      O
57          NaN            the   DT      O
58          NaN         Houses  NNS      O
59          NaN             of   IN      O
60          NaN     Parliament   NN      O
61          NaN             to   TO      O
62          NaN              a   DT      O
63          NaN          rally   NN      O
64          NaN             in   IN      O
65          NaN           Hyde  NNP  B-geo
66          NaN           Park  NNP  I-geo
67          NaN              .    .      O
68  Sentence: 4         Police  NNS      O
69          NaN            put  VBD      O

[70 rows x 4 columns]

 Fill with "Sentence: k" for each k

In [4]:
sentences = list(set(data["Sentence #"]))
sentences[0] = "nan"
sentences.sort()
len(sentences)

47960

In [5]:
sentences[0:3]

['Sentence: 1', 'Sentence: 10', 'Sentence: 100']

In [6]:
set(data["Tag"])

{'B-art',
 'B-eve',
 'B-geo',
 'B-gpe',
 'B-nat',
 'B-org',
 'B-per',
 'B-tim',
 'I-art',
 'I-eve',
 'I-geo',
 'I-gpe',
 'I-nat',
 'I-org',
 'I-per',
 'I-tim',
 'O'}

In [7]:
for tag in set(data["Tag"]):
    print("\nTAG:",tag)
    print(data[data["Tag"] == tag]["Word"][0:10])

TAG: B-nat
2723       H5N1
4554       H5N1
5044       Jing
5073       Jing
5606       H5N1
12506      SARS
12508    Severe
13162       HIV
13164      AIDS
22260      AIDS
Name: Word, dtype: object

TAG: B-art
263       Nuclear
3769     Saltillo
3810    Pentastar
3814     Chrysler
3816        Dodge
3818         Jeep
3820          Ram
3863        Vioxx
3951        Vioxx
3962        Vioxx
Name: Word, dtype: object

TAG: B-geo
6        London
12         Iraq
65         Hyde
94      Britain
106    Brighton
118        Iraq
133      London
146        Rome
148       Paris
151      Madrid
Name: Word, dtype: object

TAG: I-gpe
1225    States
1264     Korea
2713      Binh
2932     Ababa
3466      City
5241     Lanka
5313     Korea
5361     Korea
5370     Korea
5390     Korea
Name: Word, dtype: object

TAG: I-eve
4854      Summer
4855    Olympics
5036     Olympic
5171      Medusa
5764         War
6730        Open
6756     Classic
6834        Open
9990         War
9991          II
Name: Word, dtype: object

TAG: I-tim
1479       8
1993       1
4137       2
4148       3
4979      of
4980    2005
7896      25
7897       ,
7898    1995
8254       7
Name: Word, dtype: object

TAG: I-nat
5045            Jing
5074            Jing
12509          Acute
12510    Respiratory
12511       Syndrome
22948        Katrina
23055        Katrina
29719        Katrina
34813        Katrina
68389        Katrina
Name: Word, dtype: object

TAG: B-gpe
18     British
102    English
113    Britain
126    British
173       Iran
181       Iran
196    Iranian
238       U.S.
245       Iran
259     Tehran
Name: Word, dtype: object

TAG: I-org
98        Party
155      Atomic
156      Energy
157      Agency
235       Union
249    Security
250     Council
329      Berger
360       Shell
544       Qaida
Name: Word, dtype: object

TAG: B-per
42           Bush
270     President
331        Thomas
443     President
965       Prophet
973          Omar
997        Khayam
1055       Khayam
1105        Malik
1240        Abdul
Name: Word, dtype: object

TAG: B-org
97             Labor
154    International
215             IAEA
234         European
248             U.N.
328        Bilfinger
359      Royal-Dutch
370            Shell
543               al
597               al
Name: Word, dtype: object

TAG: I-art
264     Non-Proliferation
3811                  V-6
4016               Simple
4017                 Life
4142              Morning
4143              America
5248               Mirror
5923                   De
5924               Gaulle
5935        International
Name: Word, dtype: object

TAG: B-eve
4853          2012
4887         Games
5001         Games
5035          2008
5170     Operation
5763          Gulf
6729    Australian
6755       Kooyong
6833    Australian
9989         World
Name: Word, dtype: object

TAG: I-per
271         Mahmoud
272     Ahmadinejad
332         Horbach
444       Abdullahi
445           Yusuf
446           Ahmad
966        Muhammad
974          Khayam
1106     Faridullah
1107           Khan
Name: Word, dtype: object

TAG: O
0         Thousands
1                of
2     demonstrators
3              have
4           marched
5           through
7                to
8           protest
9               the
10              war
Name: Word, dtype: object

TAG: I-geo
66            Park
347          State
350          State
381          Delta
561           Arab
796           West
797       Frontier
798       Province
1112    Waziristan
1122           Wam
Name: Word, dtype: object

TAG: B-tim
167    Wednesday
211    Wednesday
274      Tuesday
341    Wednesday
493    Wednesday
654       Sunday
679     Saturday
684       Friday
740     Saturday
848     Thursday
Name: Word, dtype: object

How many sentences do we have?

In [8]:
"Sentence: 47959" in sentences, "Sentence: 47960" in sentences

(True, False)

## Indexing Sentences

In [9]:
sentence_formatter = "Sentence: {}"
sentence_formatter.format(0) in sentences

False

In [10]:
sentence_formatter = "Sentence: {}"
sentence_formatter.format(1) in sentences

True

In [11]:
i = 1
sentence_id      = sentence_formatter.format(i)
sentence_id_next = sentence_formatter.format(i+1)
sentence_id, sentence_id_next

('Sentence: 1', 'Sentence: 2')

In [12]:
print(data.index[data["Sentence #"] == sentence_id])
print(data.index[data["Sentence #"] == sentence_id_next])

Int64Index([0], dtype='int64')
Int64Index([24], dtype='int64')

In [13]:
start = data.index[data["Sentence #"] == sentence_id][0]
end   =  data.index[data["Sentence #"] == sentence_id_next][0]
start, end

(0, 24)

In [14]:
data["Sentence #"][start:end] = sentence_id

In [15]:
data["Sentence #"][start:end]

0     Sentence: 1
1     Sentence: 1
2     Sentence: 1
3     Sentence: 1
4     Sentence: 1
5     Sentence: 1
6     Sentence: 1
7     Sentence: 1
8     Sentence: 1
9     Sentence: 1
10    Sentence: 1
11    Sentence: 1
12    Sentence: 1
13    Sentence: 1
14    Sentence: 1
15    Sentence: 1
16    Sentence: 1
17    Sentence: 1
18    Sentence: 1
19    Sentence: 1
20    Sentence: 1
21    Sentence: 1
22    Sentence: 1
23    Sentence: 1
Name: Sentence #, dtype: object

## Selecting a subset and writting an identifier

In [16]:
data = pd.read_csv("data/ner_dataset.csv", encoding="latin1")

last_n = 2000
end   = data.index[data["Sentence #"] == sentence_formatter.format(last_n)][0]

In [17]:
data = data[0:end]

In [18]:
n_sentences = len(list(set(data["Sentence #"])))
first_n = 1
last_n = last_n -1
print(n_sentences)

2000

In [19]:
%%time 
sentence_formatter = "Sentence: {}"

for s_id in  range(first_n, last_n):
    print("current {}/{}".format(s_id,last_n), end="\r")
    sentence_id = sentence_formatter.format(s_id)
    sentence_id_next = sentence_formatter.format(s_id + 1)
    start = data.index[data["Sentence #"] == sentence_id][0]
    end   = data.index[data["Sentence #"] == sentence_id_next][0]
    data["Sentence #"][start:end] = sentence_id
    
sentence_id = sentence_formatter.format(last_n)
start = data.index[data["Sentence #"] == sentence_id][0]
end   = data.shape[0]
data["Sentence #"][start:end] = sentence_id

Wall time: 9.26 s

## Building X and Y

In [20]:
n_sentences

2000

In [21]:
X = []
Y = []

sentence_formatter = "Sentence: {}"

for i in range(1,n_sentences):
    s = sentence_formatter.format(i)
    X.append(list(data[data["Sentence #"]==s]["Word"].values))
    Y.append(list(data[data["Sentence #"]==s]["Tag"].values))

In [22]:
i = 0
xy = ["{}/{}".format(x,y) for x,y in zip(X[i],Y[i])]
" ".join(xy)

'Thousands/O of/O demonstrators/O have/O marched/O through/O London/B-geo to/O protest/O the/O war/O in/O Iraq/B-geo and/O demand/O the/O withdrawal/O of/O British/B-gpe troops/O from/O that/O country/O ./O'

In [23]:
def build_word_to_pos(X):

    word_to_pos = {}
    i = 0
    for s in X:
        for w in s:
            if w not in word_to_pos:
                word_to_pos[w] = i
                i +=1
                
    pos_to_word = {v: k for k, v in word_to_pos.items()}
    return word_to_pos, pos_to_word
            
def build_tag_to_pos(Y):
    tag_to_pos = {}
    i = 0
    for s in Y:
        for t in s:
            if t not in tag_to_pos:
                tag_to_pos[t] = i
                i +=1
    pos_to_tag = {v: k for k, v in tag_to_pos.items()}

    return tag_to_pos, pos_to_tag

In [24]:
word_to_pos, pos_to_word = build_word_to_pos(X)
tag_to_pos, pos_to_tag  = build_tag_to_pos(Y)

len(word_to_pos), len(tag_to_pos)

(7047, 17)

In [25]:
tag_to_pos

{'O': 0,
 'B-geo': 1,
 'B-gpe': 2,
 'B-per': 3,
 'I-geo': 4,
 'B-org': 5,
 'I-org': 6,
 'B-tim': 7,
 'B-art': 8,
 'I-art': 9,
 'I-per': 10,
 'I-gpe': 11,
 'I-tim': 12,
 'B-nat': 13,
 'B-eve': 14,
 'I-eve': 15,
 'I-nat': 16}

In [26]:
#X = [[word_to_pos[w] for w in s] for s in X]
#Y = [[tag_to_pos[t] for t in s] for s in Y]

In [27]:
X = [[w for w in s] for s in X]
Y = [[t for t in s] for s in Y]

In [37]:
from sklearn.model_selection import train_test_split

In [39]:
train_idx, val_idx, _, _ = train_test_split(np.arange(len(X)), np.arange(len(X)), test_size=0.2, random_state=42)

In [44]:
X_train = [X[i] for i in train_idx]
Y_train = [Y[i] for i in train_idx]
X_val = [X[i] for i in val_idx]
Y_val = [Y[i] for i in val_idx]

# HMM

In [28]:
from HMM import HMM

In [29]:
hmm = HMM(word_to_pos, tag_to_pos)

In [45]:
hmm.fit(X_train, Y_train)

C:\Users\Ignasi\Desktop\NLP\HMM.py:137: RuntimeWarning: divide by zero encountered in log
  return {"emission":   np.log(probs["emission"]),
C:\Users\Ignasi\Desktop\NLP\HMM.py:138: RuntimeWarning: divide by zero encountered in log
  "transition": np.log(probs["transition"]),
C:\Users\Ignasi\Desktop\NLP\HMM.py:139: RuntimeWarning: divide by zero encountered in log
  "final":      np.log(probs["final"]),
C:\Users\Ignasi\Desktop\NLP\HMM.py:140: RuntimeWarning: divide by zero encountered in log
  "initial":    np.log(probs["initial"])}

##### Train acc

In [47]:
Y_hat = []
for x in tqdm(X_train):
    Y_hat.append(hmm.predict_labels(x))

correct = 0
total   = 0
for y,y_hat in zip(Y_train,Y_hat):
    for y_hat_k, y_k in zip(y,y_hat):
        total +=1
        if y_hat_k == y_k:
            correct +=1

print("Accuracy posterior decode train data", correct/total)

HBox(children=(FloatProgress(value=0.0, max=1599.0), HTML(value='')))

Accuracy posterior decode train data 0.9699934768427919

#### Validation acc

In [48]:
Y_hat = []
for x in tqdm(X_val):
    Y_hat.append(hmm.predict_labels(x))

correct = 0
total   = 0
for y,y_hat in zip(Y_val,Y_hat):
    for y_hat_k, y_k in zip(y,y_hat):
        total +=1
        if y_hat_k == y_k:
            correct +=1

print("Accuracy posterior decode validation data", correct/total)

HBox(children=(FloatProgress(value=0.0, max=400.0), HTML(value='')))

Accuracy posterior decode validation data 0.8725318121983326

# Structured perceptron

In [49]:
import skseq
from skseq.sequences import sequence
from skseq.sequences.sequence import Sequence